html {
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

body {
margin: 0;
font-family:"Jaldi", "Kantumruy Pro", sans-serif;
background-color: #EAE5D6;
overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
margin: 0;
padding: 0;
}

img {
max-width: 100%;
display: block;
}

.contenitore {
max-width: 1325px; 
margin: 0 auto; 
}



header {
    display: flex;
    justify-content: space-between;
    background-color: #5A6B3A;
    position: relative;
    padding: 2px;
    
    
}

header p{
    margin: 0;
    font-weight: 600;
    font-size: 45px;
    padding-left: 16px;
}

header nav ul{
    font-family: "Istok web";
    margin: 0;
    display: flex;
    list-style: none;
    gap: 28px;
    font-size: 30px;
    font-weight: 400;
    padding: 16px;
}
header a{
    text-decoration: none;
    color: white;
   
}

header nav a:hover{
    color: #7d974c;
    transition: 0.3s;
}

header p a:hover{
    color: #b9db7b;
    transition: 0.3s;
}

.separatore a{
    font-weight: 600;
    color: #c4e073;
}

.testata{
    position: relative;
}

.titolo_testata{
position: absolute;
background-color: rgba(0, 0, 0, 0.6);
color: white;
width: 100%;
height: 100%;
font-family: "Kantumruy Pro";
display: flex;
align-items: center;
text-align: center;
justify-content: center;
}

.copertina img{
    width: 100%;
    height: 602px;
    object-fit: cover;
}

.primo h1{
    font-size: 90px;
    line-height: 100%;
    font-weight: bold;
}

.primo p{
    font-size: 25px;
    font-weight: 500;
}

.sotto{
    border: 7px solid #496231;
    border-radius: 30px;
    margin: 35px;
    padding: 21px 32px;
}
.sottotitolo{
    position: relative;
    font-family: "Kantumruy Pro";
    color: #533113;
    font-weight: 500;
    font-size: 25px;
    line-height: 96%;
}


/*schermata di selezione*/

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px;
    margin: 35px;
}

.preview-1 img{
    object-fit: cover;
max-width: 450px;
border-radius: 21.5px;
}

.preview img{
    object-fit: contain;
max-width: 270px;
border-radius: 21.5px;

}

.card{
    display: flex;
   justify-content: center;
align-items: center;
background-color: #80914B;
padding: 20px;
border-radius: 43px;


}

.full-card {
    grid-column: 1 / span 2;
}

.preview-2 img{
    object-fit: cover;
max-width: 100%;
height: 450px;
border-radius: 21.5px;
}

.preview-3 img{
    object-fit: cover;
max-width: 90%;

border-radius: 21.5px;
}
.descrizione h2 {
    font-family: "Kantumruy Pro";
    font-size: 30px;
    line-height: 96%;
    padding: 5px 10px;
    
   }

   .descrizione h2 a{
    color: white;
    text-decoration: none;
   }

.descrizione p{
    font-family: "Jaldi";
    font-size: 18px;
    line-height: 105%;
    padding: 5px 10px;
    color: #fff;
  
}
.descrizione h2 a:hover{
    color: #aecb56;
    transition: 0.3s;
}

.preview a:hover{
    opacity: 0.8;
    transition: 0.3s;
}
.preview-1, .preview-2 a:hover{
    opacity: 0.8;
    transition: 0.3s;
    
}


/*selezione 4x4*/
    .testo-centrale{
      text-align: center;
      padding-left: 45px;
      padding-right: 45px;
      padding-bottom: 45px;
    }

    .testo-centrale h3{
        color: #533113;
        font-size: 80px;
        line-height: 130%;
    }

     .testo-centrale p{
        color: #533113;
        font-size: 25px;
        line-height: 96%;
        }

      .grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px;
    margin: 35px;
}  

/*pulsanti di selezione argomento*/

.pulsanti-menu{
    display: flex;
    justify-content: space-evenly;
    background-color: #cad7a4;
    padding: 20px;
    position: sticky;
    top: 0;
}

.button {
  background-color: #80914B;
  border: none;
  color: white;
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover{
    background-color: #496231;
    transition: 0.3s;
}

/*contenuto*/

.desc-generica{
    width: 500px;
    padding: 22px;
    background-color: #AEC663;
    margin: 55px;
    border-radius: 20px;
}

.desc-generica h3{
    font-size: 30px;
    color: #5A6B3A;
}

.desc-generica p{
    font-size: 20px;
    color: #361C07;
}

.desc-generica-centro{
     text-align: center;
     padding-top: 20px;
      padding-left: 45px;
      padding-right: 45px;
      padding-bottom: 20px;
      background-color: #AEC663;
      margin: 44px;
      border-radius: 20px;
}

.desc-generica-centro h3{
    font-size: 30px;
    color: #5A6B3A;
}

.desc-generica-centro p{
    font-size: 23px;
    color: #361C07;
}

.testo-a-sinistra{
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
        }
        .immagine-destra{
            display: flex;
            justify-content: flex-end;
        }
        .immagine-destra img{
            max-width:80%;
            padding: 55px;
         }

         .immagine-centrale{
            display: flex;
            justify-content: center;
            padding: 44px;
         }

         .immagine-centrale img{
            object-fit: cover;
            width: 80%;
           
         }

         .testo-a-destra{
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: flex-end;
        }
        .immagine-sinistra{
            display: flex;
            justify-content: flex-start;
        }

        .immagine-destra-resp{
            display: none;
        }
        .immagine-sinistra img{
            max-width: 80%;
            
            padding: 55px;
         }

/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    background-color: #5A6B3A;
    position: relative;
    padding: 10px;   
}

footer p{
    font-size: 30px;
    color: white;
    padding-left: 10px;
}

footer nav{
    font-family: "Istok web";
    margin: 0;
    display: flex;
    list-style: none;
    gap: 28px;
    font-size: 25px;
    padding: 10px;
}
footer a{
    text-decoration: none;
    color: white;
   
}

footer nav a:hover{
    color: #7d974c;
}

@media screen and (max-width: 964px) {
    header p{
        font-size: 30px;
        padding: 16px;
    }
  header nav ul{
    font-size: 20px;
    padding: 26px;
  } 
  .primo{
    padding: 30px;
  }
  .primo h1{
    font-size: 50px;
  }
  .primo p{
    font-size: 18px;
    margin: 10px;
  }

  .sottotitolo{
 font-size: 20px;
}

.grid {
    grid-template-columns: repeat(1, 1fr);
}

.card {
    flex-direction: column;
}
.full-card {
    grid-column: 1;
}

.preview, .descrizione, .descrizione-2, .descrizione-menu, .descrizione-parco, .paragrafo-centrale, .paragrafo-destra, .paragrafo-sinistra {
    max-width: 100%;
}

.descrizione-2 h2{
    font-size: 40px;
    padding: 10px;
}

.titolo_sezioni p{
    width: 500px;
}

.descrizione-menu h2{
    float: left;
}

.descrizione-parco{
    max-width: 500px;
    font-size: 20px;
    margin-top: -20px;
}

.grid-paragrafo {
    grid-template-columns: repeat(1, 1fr);
}

.testo-a-destra, .testo-a-sinistra{
    display: inline;
}

.immagine-sinistra{
    display: none;
}

 .immagine-destra-resp{
            display: flex;
            justify-content: flex-start;
        }

        .immagine-destra-resp img{
            max-width:80%;
            padding: 55px;
         }

 .button{
    font-size: 18px;
 }   

footer p{
    font-size: 30px;
    padding: 16px;
}
footer nav{
font-size: 20px;
padding: 26px;
} 

}